.pageContainer {
  display: flex;
  flex-direction: column;
}

.belowScoreTable {
  display: flex;
}

.boxScoreContainer {
  width: 70%;
  height: 500px;
  border-right: 1px solid rgb(120, 120, 120);
}

.liveChatContiner {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.gameChatTitle {
  width: 100%;
  height: 40px;
  padding: 10px 0 0 0;
  text-align: center;
  background: rgb(120, 120, 120);
}

.inputContainer {
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 100px;
}

.inputField {
  width: 200px;
  height: 30px;
  background: rgba(210, 210, 210, 0.1);
  font-size: 0.9rem;
}
.inputField::placeholder {
  padding: 0 0 0 5px;
}

.joinBtn {
  width: 100px;
  margin: 5px 0 0 0;
  padding: 5px 0 5px 0;
  cursor: pointer;
}

.chatContainer {
  display: flex;
  justify-content: center;
}