.scoreboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  border: 1px solid rgb(200, 200, 200);
  padding: 30px 10px;
}

.logo {
  width: 50px;
}

.record {
  font-size: 0.7rem;
  color: #48494a;
  text-transform: uppercase;
}

.awayTeamContent,
.homeTeamContent {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.teamName {
  font-size: 1.2rem;
}

.teamTricode {
  display: none;
}

.score {
  font-size: 1.9rem;
  font-weight: bold;
}

.gameStatus {
  display: flex;
  flex-direction: column;
  width: 120px;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
}

.date {
  width: 120px;
}

.gameStatusText {
  margin: 5px 0 5px 0;
}

.record {
  font-size: 0.8rem;
}

@media(max-width: 1200px) {
  .teamName {
    font-size: 1.0rem;
  }

  .gameStatus {
    font-size: 0.7rem;
  }

  .date {
    width: 100px;
  }

  .score {
    font-size: 1.5rem;
  }

  .record {
    font-size: 0.6rem;
  }

  .logo {
    width: 40px;
  }
}

@media(max-width: 1000px) {
  .teamName {
    font-size: 0.9rem;
  }
}

@media(max-width: 850px) {
  .scoreboardContainer {
    gap: 40px;
  }

  .teamName {
    display: none;
  }

  .teamTricode {
    display: block;
    font-size: 0.8rem;
  }

  .logo {
    width: 30px;
  }

  .score {
    font-size: 1.2rem;
  }


}