/*  */

.table {
  font-size: 0.7rem;
  color: #6c6d6f;
  margin: 3px 0 0 0;
}

.tableHeader {
  display: flex;
  padding: 0 0 2px 5px;
  margin: 0 0 5px 0;
  border-bottom: 1px solid rgb(144, 144, 144);
}

.tableHeader th:first-child {
  opacity: 0;
}

.tableHeader th:last-child,
.tableRow td:last-child {
  color: #151617;
}

.headerData,
.rowData  {
  width: 30px;
  text-align: center;
}

.tableRow {
  display: flex;
  margin: 0 0 2px 0;
}

.tableRow td:first-child {
  margin: 0 4px 0px 0;
}

.tricode {
  width: 46px;
}


@media(max-width: 1200px) {
  .table {
    font-size: 0.6rem;
  }
  /* .headerData,
  .rowData  {
    width: 20px;
  }

  .table {
    padding: 0 20px;
  } */

}

@media(max-width: 800px) {
  .table {
    font-size: 0.5rem;
  }
  .headerData,
  .rowData  {
    width: 20px;
  }

}





